<form [formGroup]="aboutForm" (ngSubmit)="onSubmit()">
  <mat-card class="card-margin-top">
    <mat-card-header>
      <h4 class="primary">
        About
      </h4>

    </mat-card-header>

    <mat-card-content>
      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="title" style="margin-bottom: 0px">TITLE</label>
        </div>
        <div class="col-7">
          <input id="title" type="text" class="form-control" ngClass="" placeholder="Make it short and clean"
                 formControlName="title">
        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.title.invalid && (aboutForm.controls.title.dirty || aboutForm.controls.title.touched)">
            <div *ngIf="aboutForm.controls.title.errors.required">
              title is required
            </div>
            <div *ngIf="aboutForm.controls.title.errors.maxlength">
              Too much length
            </div>
            <div *ngIf="aboutForm.controls.title.errors.minlength">
              More text
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="description" style="margin-bottom: 0px">DESCRIPTION</label>
        </div>
        <div class="col-7">
          <textarea id="description" type="text" rows="6" class="form-control"
                    placeholder="Write about your event. Be creative"
                    formControlName="description" style="resize: none"></textarea>
          <div class="d-flex justify-content-between">
            <span>Max length 140 characters</span>
            <span>{{(140 - aboutForm.value.description.length)}}</span>
          </div>

        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.description.invalid && (aboutForm.controls.description.dirty || aboutForm.controls.description.touched)">
            <div *ngIf="aboutForm.controls.description.errors.required">
              Description is required
            </div>
            <div *ngIf="aboutForm.controls.description.errors.minLength">
             min
            </div>
            <div *ngIf="aboutForm.controls.description.errors.maxLength">
              max
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="category">OPTIONS</label>
        </div>
        <div class="col-7">
          <select class="custom-select" formControlName="category" id="category">
            <option selected>Select category</option>
            <option *ngFor="let singleCategory of categories">{{singleCategory.name}}</option>
          </select>
        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.category.invalid && (aboutForm.controls.category.dirty || aboutForm.controls.category.touched)">
            <div *ngIf="aboutForm.controls.category.errors.required">
              Category is required
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="payment">PAYMENT</label>
        </div>
        <div class="col-7 d-flex align-items-center">
          <div class="form-check form-check-inline" id="payment">
            <input class="form-check-input" type="radio" name="eventRadio" id="inlineRadio1" value=false
                   formControlName="eventRadio">
            <label class="form-check-label" for="inlineRadio1">Free event</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="eventRadio" id="inlineRadio2" value=true
                   formControlName="eventRadio">
            <label class="form-check-label" for="inlineRadio2">Paid event</label>
          </div>
            <input *ngIf="feeShow" type="text" id="fee" formControlName="fee" class="form-control" style="width: 5rem; display: inline"
                    placeholder="fee">
            <label *ngIf="feeShow" for="fee">$</label>

        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.eventRadio.invalid && (aboutForm.controls.eventRadio.dirty || aboutForm.controls.eventRadio.touched)">
            <div *ngIf="aboutForm.controls.eventRadio.errors.required">
              Payment method is required
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="reward">REWARD</label>
        </div>
        <div class="col-7">
          <input type="text" id="reward" class="form-control" style="width: 5rem; display: inline" placeholder="Numer">
          <span style="margin-left: 1rem">reward points for attendance</span>
        </div>
        <div class="col-2"></div>
      </div>


      <p>
        Value: {{ aboutForm.value | json }}
        Valid: {{ aboutForm.valid | json }}
      </p>
    </mat-card-content>

  </mat-card>

  <!--Second part of form-->

  <mat-card class="card-margin-top">
    <mat-card-header>
      <div>
        <h4>Coordinator</h4>
      </div>
    </mat-card-header>
    <hr/>
    <mat-card-content>
      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="category">OPTIONS</label>
        </div>
        <div class="col-7">
          <select class="custom-select" formControlName="employee" id="category">
            <option selected>Choose...</option>
            <option *ngFor="let singleEmployee of employes">{{singleEmployee.name}}</option>
          </select>
        </div>
        <div class="col-2">
          <span>validation info</span>
        </div>
      </div>


      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="title" style="margin-bottom: 0px">TITLE</label>
        </div>
        <div class="col-7">
          <input id="email" type="text" class="form-control" placeholder="Make it short and clean"
                 formControlName="email">
        </div>
        <div class="col-2">
          <span>validation info</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!--Third part of form with data and hour picker-->

  <mat-card class="card-margin-top">
    <mat-card-header>
      <h4>Date</h4>
    </mat-card-header>
    <mat-card-content>

      <div class="form-inline row space-top">
        <div class="col-2 label-align">
          <label for="calendar">STARTS ON</label>
        </div>

        <div class="col-7 input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" id="calendar" formControlName="calendar"
                 name="calendar" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
          <label for="appt-time">AT</label>
          <input type="time" class="form-control" id="appt-time" name="appt-time"
                 min="1:00" max="12:00" required/>
          <div class="form-check form-check-inline" id="am-pm">
            <input class="form-check-input" type="radio" name="timeRadio" id="inlineRadio3" value="free"
                   formControlName="timeRadio">
            <label class="form-check-label" for="inlineRadio1">Free event</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="timeRadio" id="inlineRadio4" value="charge"
                   formControlName="timeRadio">
            <label class="form-check-label" for="inlineRadio2">Paid event</label>
          </div>
        </div>
      </div>

      <!--<pre>Model: {{ model | json }}</pre>-->
      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="reward">REWARD</label>
        </div>
        <div class="col-7">
          <input type="text" id="reward" class="form-control" style="width: 5rem; display: inline" placeholder="Number">
          <span style="margin-left: 1rem">reward points for attendance</span>
        </div>
        <div class="col-2">
          <span>validation info</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!--Submit button-->

  <div class="card-margin-top">
    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary">
        PUBLISH EVENT
      </button>
    </div>
  </div>
</form>
