<form [formGroup]="aboutForm" (ngSubmit)="onSubmit()">
  <mat-card class="card-margin-top">
    <div class="header-container">
      <h4 class="main-header">
        About
      </h4>
      <hr>
    </div>
    <mat-card-content>
      <div class="row space-top">
        <div class="col-2 label-align">
          <label
            class="main-label"
            [ngClass]="aboutForm.controls.title.invalid && (aboutForm.controls.title.dirty || aboutForm.controls.title.touched) ? 'validation-fail-font' : ''"
            for="title" style="margin-bottom: 0px">
            TITLE
            <span
              *ngIf="aboutForm.controls.title.invalid && (aboutForm.controls.title.dirty || aboutForm.controls.title.touched)"
              class="validation-fail-font">*</span>
          </label>
        </div>
        <div class="col-7">
          <input id="title"
                 [ngClass]="aboutForm.controls.title.invalid && (aboutForm.controls.title.dirty || aboutForm.controls.title.touched) ? 'validation-fail-border' : ''"
                 type="text" class="form-control" ngClass="" placeholder="Make it short and clean"
                 formControlName="title">
        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.title.invalid && (aboutForm.controls.title.dirty || aboutForm.controls.title.touched)">
            <div *ngIf="aboutForm.controls.title.errors.required">
              title is required
            </div>
            <div *ngIf="aboutForm.controls.title.errors.maxlength">
              Too much length
            </div>
            <div *ngIf="aboutForm.controls.title.errors.minlength">
              More text
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label
            class="main-label"
            [ngClass]="aboutForm.controls.description.invalid && (aboutForm.controls.description.dirty || aboutForm.controls.description.touched) ? 'validation-fail-font' : ''"
            for="description" style="margin-bottom: 0px">
            DESCRIPTION
            <span
              *ngIf="aboutForm.controls.description.invalid && (aboutForm.controls.description.dirty || aboutForm.controls.description.touched)">*</span>
          </label>
        </div>
        <div class="col-7">
          <textarea id="description" type="text" rows="6" class="form-control"
                    placeholder="Write about your event. Be creative"
                    formControlName="description"
                    [ngClass]="aboutForm.controls.description.invalid && (aboutForm.controls.description.dirty || aboutForm.controls.description.touched) ? 'validation-fail-border' : ''"
                    style="resize: none"></textarea>
          <div class="d-flex justify-content-between textArea-extra">
            <span>Max length 140 characters</span>
            <span>{{(140 - aboutForm.value.description.length)}}</span>
          </div>

        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.description.invalid && (aboutForm.controls.description.dirty || aboutForm.controls.description.touched)">
            <div *ngIf="aboutForm.controls.description.errors.required">
              Description is required
            </div>
            <div *ngIf="aboutForm.controls.description.errors.minLength">
              min
            </div>
            <div *ngIf="aboutForm.controls.description.errors.maxLength">
              max
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="category" class="main-label">CATEGORY</label>
        </div>
        <div class="col-7">
          <select class="custom-select" formControlName="category_id" id="category">
            <option selected>Select category</option>
            <option *ngFor="let singleCategory of categories">{{singleCategory.name}}</option>
          </select>
        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.category_id.invalid && (aboutForm.controls.category_id.dirty || aboutForm.controls.category_id.touched)">
            <div *ngIf="aboutForm.controls.category_id.errors.required">
              Category is required
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="payment" class="main-label">PAYMENT</label>
        </div>
        <div class="col-7 d-flex"
             [ngClass]="aboutForm.controls.paid_event.invalid && (aboutForm.controls.paid_event.dirty || aboutForm.controls.paid_event.touched) ? 'validation-fail-border' : ''">
          <div class="form-check form-check-inline" id="payment">
            <input class="form-check-input" type="radio" name="paid_event" id="inlineRadio1" value=false
                   formControlName="paid_event">
            <label class="form-check-label" for="inlineRadio1">Free event</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="paid_event" id="inlineRadio2" value=true
                   formControlName="paid_event">
            <label class="form-check-label" for="inlineRadio2">Paid event</label>
          </div>
          <input *ngIf="feeShow" type="number" id="fee" formControlName="event_fee" class="form-control"
                 style="width: 5rem; display: inline" min="0"
                 placeholder="fee"
                 [ngClass]="aboutForm.controls.event_fee.invalid && (aboutForm.controls.event_fee.dirty || aboutForm.controls.event_fee.touched) ? 'validation-fail-border' : ''">
          <label *ngIf="feeShow" for="fee" class="ml-2 mt-2">$</label>

        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.paid_event.invalid && (aboutForm.controls.paid_event.dirty || aboutForm.controls.paid_event.touched)">
            <div *ngIf="aboutForm.controls.paid_event.errors.required">
              Payment method is required
            </div>
            <div *ngIf="aboutForm.controls.event_fee.errors.required">
              Amount of fee is required
            </div>
          </div>
        </div>
      </div>

      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="reward" class="main-label">REWARD</label>
        </div>
        <div class="col-7">
          <input type="text" id="reward" class="form-control" formControlName="reward" form
                 style="width: 6rem; display: inline" placeholder="Number">
          <span style="margin-left: 1rem">reward points for attendance</span>
        </div>
        <div class="col-2"></div>
      </div>


      <p>
        Value: {{ aboutForm.value | json }}
        Valid: {{ aboutForm.valid | json }}
      </p>
    </mat-card-content>

  </mat-card>

  <!--Second part of form-->

  <mat-card class="card-margin-top">
    <div class="header-container">
      <h4 class="main-header">Coordinator</h4>
      <hr>

    </div>
    <mat-card-content>
      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="category" class="main-label"
                 [ngClass]="aboutForm.controls.id.invalid && (aboutForm.controls.id.dirty || aboutForm.controls.id.touched) ? 'validation-fail-font' : ''">RESPONSIBILE</label>
        </div>
        <div class="col-7">
          <select class="custom-select" formControlName="id" id="category"
                  [ngClass]="aboutForm.controls.id.invalid && (aboutForm.controls.id.dirty || aboutForm.controls.id.touched) ? 'validation-fail-border' : ''">
            <option selected>Me - Gaweł Konefeld</option>
            <option *ngFor="let singleEmployee of employes">{{singleEmployee.name}} {{singleEmployee.lastname}}</option>
          </select>
        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.id.invalid && (aboutForm.controls.id.dirty || aboutForm.controls.id.touched)">
            <div *ngIf="aboutForm.controls.id.errors.required">
              Coordinator is required
            </div>
          </div>
        </div>
      </div>


      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="title" class="main-label" style="margin-bottom: 0px">EMAIL</label>
        </div>
        <div class="col-7">
          <input id="email" type="text" class="form-control" placeholder="Your email address"
                 formControlName="email"
                 [ngClass]="aboutForm.controls.email.invalid && (aboutForm.controls.email.dirty || aboutForm.controls.email.touched) ? 'validation-fail-border' : ''">
        </div>
        <div class="col-2">
          <div class="alert alert-danger validation-alert"
               *ngIf="aboutForm.controls.email.invalid && (aboutForm.controls.email.dirty || aboutForm.controls.email.touched)">
            <div *ngIf="aboutForm.controls.email.errors.required">
              Email is required
            </div>
            <div *ngIf="aboutForm.controls.email.errors.pattern">
              Invalid email adress
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!--Third part of form with data and hour picker-->

  <mat-card class="card-margin-top">
    <div class="header-container">
      <h4 class="main-header">Date</h4>
      <hr>
    </div>
    <mat-card-content>

      <div class="form-inline row space-top">
        <div class="col-2 label-align">
          <label for="calendar" class="main-label">STARTS ON</label>
        </div>

        <div class="col-7 input-group">
          <input class="form-control " placeholder="yyyy-mm-dd" id="calendar" formControlName="calendar"
                 name="calendar" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="date">
          <div class="input-group-append mr-2">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
            </button>
          </div>
          <label for="appt-time" class="mr-2">at</label>
          <input type="time" class="form-control mr-2" id="appt-time" name="appt-time"
                 min="1:00" max="12:00" formControlName="time"/>
          <div class="form-check form-check-inline" id="am-pm">
            <input class="form-check-input" type="radio" name="timeRadio" id="inlineRadio3" value="AM"
                   formControlName="timeRadio">
            <label class="form-check-label" for="inlineRadio3">AM</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="timeRadio" id="inlineRadio4" value="PM"
                   formControlName="timeRadio">
            <label class="form-check-label" for="inlineRadio2">PM</label>
          </div>
        </div>
      </div>

      <!--<pre>Model: {{ model | json }}</pre>-->
      <div class="row space-top">
        <div class="col-2 label-align">
          <label for="duration" class="main-label">DURATION</label>
        </div>
        <div class="col-7">
          <input type="number" style="width: 6rem; display: inline" id="duration" class="form-control"
                 placeholder="Number" formControlName="duration">
          <span style="margin-left: 1rem">hours</span>
        </div>
        <div class="col-2">
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!--Submit button-->

  <div class="card-margin-top">
    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary">
        PUBLISH EVENT
      </button>
    </div>
  </div>
</form>
