<mat-card class="card-margin-top">
  <mat-card-header>
    <h4 class="primary">About</h4>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="coordinatorForm">

      <div class="row space-top">
        <div class="col-3 label-align">
          <label for="category">OPTIONS</label>
        </div>
        <div class="col-6">
          <select class="custom-select" formControlName="employee" id="category">
            <option selected>Choose...</option>
            <option *ngFor="let singleEmployee of employesData">{{singleEmployee.name}}</option>
          </select>
        </div>
        <div class="col-3">
          <span>validation info</span>
        </div>
      </div>


      <div class="row space-top">
        <div class="col-3 label-align">
          <label for="title" style="margin-bottom: 0px">TITLE</label>
        </div>
        <div class="col-6">
          <input id="title" type="text" class="form-control" placeholder="Make it short and clean" formControlName="email">
        </div>
        <div class="col-3">
          <span>validation info</span>
        </div>
      </div>


    </form>
    <p>
      Value: {{ coordinatorForm.value | json }}
      Valid: {{ coordinatorForm.valid | json }}
    </p>
  </mat-card-content>
</mat-card>
