/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-color: #f9f9f9 !important;
  font-family: 'Roboto Condensed', sans-serif;
}

.container{
  width: 900px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

.position-left {
  margin-left: 10rem;
}

.card-margin-top {
  margin-top: 2rem;
}

.label-align {
  display: flex;
  justify-content: start;
  padding-top: 0.5rem;
  margin-left: 1rem;
}

.alert .validation-alert{
  padding: 0.45rem 1.25rem;
}

.main-label{
  color: #8ca2c2;
  font-weight: 500;
  font-size: 1.0rem;
}
